{% extends "base.html" %}

{% block content %}
<div class="container" style="display:flex;justify-content:center;padding:20px">
    <h2>View Task</h2>   
</div>

<div class= 'container shadow' style='justify-content:center;padding:30px'>
    <div class='container justify-content-center ml-4'>
        <label>Title:</label>
        <h3 class='text-primary'>{{todos.title}}</h3>
    </div>
    <br></br>
    <div class='container justify-content-center ml-4'>
        <label>Description:</label>
        <h3 class='text-primary'>{{todos.desc}}</h3>
    </div>
</div>
<div class='container' style="display:flex;justify-contents:center;padding:20px">
    <a href="{%url 'update-task' todos.id%}"><button class="btn btn-dark m-4">Update</button></a>
    <button type="button" class="btn btn-success m-4" onclick="$('#complete').click()">Complete</button>
    <button type="button" class="btn btn-danger m-4" onclick="$('#delete').click()">Delete</button>
</div>
    {% if todo.datecompleted is None %}
    <form style='display: none;' method="POST" action="{% url 'mark-complete' todos.id %}">
        {% csrf_token %}
        <button id="complete" type="submit">Complete</button>
    </form>
    {% endif %}
    <form style='display: none;' method="POST" action="{% url 'delete-task' todos.id %}">
    {% csrf_token %}
    <button id="delete" type="submit">Delete</button>

{% endblock %}